<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"></head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>
<header th:replace="partials/partials :: header"></header>
<th:block th:each="post: ${post}">
    <small><strong>Title: </strong></small>
    <small th:text="${post.title}"></small><br>
    <small><strong>Username: </strong></small>
    <small  th:text="${post.user.username}"></small><br>
    <small><strong>Email: </strong></small>
    <small  th:text="${post.user.email}"></small><br>
    <small><strong>Body: </strong></small>
    <small th:text="${post.body}"></small><br>
    <small><strong>Categories: </strong></small>
    <small th:each="category: ${post.categories}" th:text="${category.name}"></small><br><br>
</th:block>
<footer th:replace="partials/partials :: footer"></footer>
</body>
</html>